In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report

/home/ubuntu/Spell_Correction/Spell_Corrections/local/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
census=pd.read_csv('/home/ubuntu/DEEP_LEARNING/Tensorflow_Deeplearning_02042018/02-TensorFlow-Basics/census_data.csv')
print(census.shape)
print(census.columns)
census.head()

(32561, 14)
Index([u'age', u'workclass', u'education', u'education_num', u'marital_status',
       u'occupation', u'relationship', u'race', u'gender', u'capital_gain',
       u'capital_loss', u'hours_per_week', u'native_country',
       u'income_bracket'],
      dtype='object')

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
census['income_bracket'].value_counts()

 <=50K    24720
 >50K      7841
Name: income_bracket, dtype: int64

In [4]:
census['income_bracket']=np.where(census['income_bracket']==' <=50K',0,1)
display(census['income_bracket'].value_counts())
census.head()

0    24720
1     7841
Name: income_bracket, dtype: int64

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [5]:
X=census.drop('income_bracket',axis=1)
y=census['income_bracket']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42,stratify=y)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

((21815, 13), (10746, 13), (21815,), (10746,))

In [6]:
print(X.columns)
X.head()

Index([u'age', u'workclass', u'education', u'education_num', u'marital_status',
       u'occupation', u'relationship', u'race', u'gender', u'capital_gain',
       u'capital_loss', u'hours_per_week', u'native_country'],
      dtype='object')

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [7]:
gender=tf.feature_column.categorical_column_with_vocabulary_list('gender',['Male','Female'])
occupation=tf.feature_column.categorical_column_with_hash_bucket(u'occupation',hash_bucket_size=1000)
marital_status=tf.feature_column.categorical_column_with_hash_bucket('marital_status',hash_bucket_size=1000)
workclass=tf.feature_column.categorical_column_with_hash_bucket('workclass',hash_bucket_size=1000)
education=tf.feature_column.categorical_column_with_hash_bucket('education',hash_bucket_size=1000)
relationship=tf.feature_column.categorical_column_with_hash_bucket('relationship',hash_bucket_size=1000)
native_country=tf.feature_column.categorical_column_with_hash_bucket('native_country',hash_bucket_size=1000)
race=tf.feature_column.categorical_column_with_hash_bucket('race',hash_bucket_size=1000)

In [8]:
age=tf.feature_column.numeric_column('age')
education_num=tf.feature_column.numeric_column('education_num')
capital_gain=tf.feature_column.numeric_column('capital_gain')
capital_loss=tf.feature_column.numeric_column('capital_loss')
hours_per_week=tf.feature_column.numeric_column('hours_per_week')

In [9]:
feat_col=[gender,occupation,marital_status,workclass,education,relationship,native_country,race,age,education_num,capital_gain,capital_loss,hours_per_week]

### Prepare Input data for training

In [10]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True,)

In [11]:
model=tf.estimator.LinearClassifier(feature_columns=feat_col)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpPO_p_o
INFO:tensorflow:Using config: {'_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_task_type': 'worker', '_is_chief': True, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f5cb1526b10>, '_save_checkpoints_steps': None, '_keep_checkpoint_every_n_hours': 10000, '_service': None, '_num_ps_replicas': 0, '_tf_random_seed': None, '_master': '', '_num_worker_replicas': 1, '_task_id': 0, '_log_step_count_steps': 100, '_model_dir': '/tmp/tmpPO_p_o', '_save_summary_steps': 100}

In [12]:
model.train(input_fn=input_func,steps=1000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpPO_p_o/model.ckpt.
INFO:tensorflow:loss = 69.31474, step = 1
INFO:tensorflow:global_step/sec: 137.465
INFO:tensorflow:loss = 198.3237, step = 101 (0.730 sec)
INFO:tensorflow:global_step/sec: 195.808
INFO:tensorflow:loss = 170.32455, step = 201 (0.514 sec)
INFO:tensorflow:global_step/sec: 200.998
INFO:tensorflow:loss = 38.767735, step = 301 (0.498 sec)
INFO:tensorflow:global_step/sec: 183.774
INFO:tensorflow:loss = 51.780697, step = 401 (0.543 sec)
INFO:tensorflow:global_step/sec: 194.309
INFO:tensorflow:loss = 103.02849, step = 501 (0.514 sec)
INFO:tensorflow:global_step/sec: 193.218
INFO:tensorflow:loss = 256.82556, step = 601 (0.518 sec)
INFO:tensorflow:global_step/sec: 192.842
INFO:tensorflow:loss = 167.78317, step = 701 (0.522 sec)
INFO:tensorflow:global_step/sec: 192.796
INFO:tensorflow:loss = 153.71692, step = 801 (0.521 sec)
INFO:tensorflow:global_step/sec: 201.905
INFO:tensorflow:loss = 53.730743, step = 901 (0.492 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmpPO_p_o/model.ckpt.
INFO:tensorflow:Loss for final step: 106.3318.

### Prepare Input data for testing

In [13]:
pred_input_func=tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

In [14]:
prediction=list(model.predict(pred_input_func))
prediction=[pred['class_ids'][0] for pred in prediction]
prediction[0:5]

INFO:tensorflow:Restoring parameters from /tmp/tmpPO_p_o/model.ckpt-1000

[1, 1, 1, 0, 0]

In [15]:
print(classification_report(y_test,prediction))

             precision    recall  f1-score   support

          0       0.87      0.90      0.89      8158
          1       0.65      0.58      0.61      2588

avg / total       0.82      0.82      0.82     10746

In [16]:
g1=tf.get_default_graph()

In [19]:
print(g1.get_operations())

[]